.roteiro .item .img-item {
  width: 100%;
  height: 368px;
}

.roteiro .item.tokyo-temple .img-item {
    background-image: url("../img/mobile/Tokyo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.roteiro h2 {
    text-align: start;
}

.roteiro p {
   line-height: 2rem;
   padding: 0 0 1.2rem;
   font-size: 1.2rem;
}

.subtitulo {
    font-size: 14px;
    margin-top: 8px;
}

.blog-destinations {
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .item.tokyo-temple {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 15%;
        grid-template-areas: 
        "title title"
        "texto image";
        gap: 24px;
    }

   .item.tokyo-temple header {
    grid-area: 1 / 1 / 2 / 3;
  }

  .item.tokyo-temple p {
    grid-area: 2 / 1 / 3 / 2;
  }

  .item.tokyo-temple footer {
    grid-area: 1 / 2 / 3 / 3;
  }

  .item.tokyo-temple .img-item {
    width: 100%;
    height: 100%;
    background-image: url("../img/tablet/Tokyo-1-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1024px) {
    .destinations-blog-items {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .destinations-blog-items .item .img-item {
        height: 300px;
    }
}
