.main-header{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}

.img-mobile {
    display: block;
    width: 68px;
    height: 64px;
}

.img-desktop {
    display: none;
}

a:hover{
    text-decoration: underline;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--tertiary-color);
    width: 100%;
}

nav {
    display: none;
}

.navigation-menu {
    margin-top: 24px;
}

.list-links {
    list-style-type: none;
}

.list-links li {
    margin: 16px 0px;
}

.list-links li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: var(--menu-text-weight);
}

.list-links li a:hover{
    color: var(--button-primary);
}

/* .list-links li a.active {
    text-decoration: underline;
} */

@media screen and (min-width: 768px) {
    .navigation-menu {
        margin-top: 0;
        width: 467px;
    }

    .navigation-menu label {
       display: none;
    }

    .navigation-menu nav {
        display: block;
    }

    .navigation-menu ul {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0;
    }

    .navigation-menu li {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {

    .main-header {
        padding: 38px 120px;
    }

    .logo {
        width: 260px;
        height: 64;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }
}

@media screen and (min-width: 1920px) {
    .main-header {
        padding: 38px 160px;
    }
}