.offers {
  margin-bottom: 104px;
}

.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers-cards .card {
  color: var(--text-secondary);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .card header p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  margin: 8px 0px 0px;
  font-size: 40px;
  line-height: 1.5;
  font-weight: var(--title-weight);
}

.offers-cards .card header span {
  margin-bottom: 24px;
  font-size: 32px;
  display: inline-block;
}

.japao {
  background-image: url("../img/mobile/Japão-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.san-andreas {
  background-image: url("../img/mobile/San\ Andreas-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.paraiba {
  background-image: url("../img/mobile/Paraíba-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.manaus {
  background-image: url("../img/mobile/Manaus-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .japao {
    background-image: url("../img/tablet/Japão-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .san-andreas {
    background-image: url("../img/tablet/San\ Andreas-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .paraiba {
    background-image: url("../img/tablet/Paraíba-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .manaus {
    background-image: url("../img/tablet/Manaus-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 488px;
  }

  .japao {
    background-image: url("../img/Japão.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .san-andreas {
    background-image: url("../img/San\ Andreas.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .paraiba {
    background-image: url("../img/Paraíba.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .manaus {
    background-image: url("../img/Manaus\ .png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {

  .offers-cards {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
