@import url("../styles/global.css");
@import url("../styles/header.css");
@import url("../styles/hero.css");
@import url("../styles/ofertas.css");
@import url("../styles/categorias.css");
@import url("../styles/destinos.css");
@import url("../styles/pagamentos.css");
@import url("../styles/testemonials.css");
@import url("../styles/formulario.css");
@import url("../styles/blog.css");
@import url("../styles/footer.css");