.testemonials-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testemonials-container article header p {
    font-size: 16px;
    line-height: 28px;
}

.testemonials-container footer .profile-content h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testemonials-container footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 24px;
   margin-top: 8px;
}

.testemonials-container footer img {
    width: 86px;
    height: 86px;
}

.testemonials-container footer .profile-content .rating .star {
    font-size: 32px;
    color: var(--button-secondary);
    line-height: 32px;
}

@media screen and (min-width: 1440px) {
    .testemonials-container {
        flex-direction: row;
    }
}